<div>
  <h2 id="page-heading" data-cy="MensagemHeading">
    <span>Mensagems</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-mensagem"
        [routerLink]="['/mensagem/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Criar novo Mensagem</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (mensagems?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>Nenhum Mensagem encontrado</span>
    </div>
  }

  @if (mensagems && mensagems.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="texto">
              <div class="d-flex">
                <span>Texto</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="opcao">
              <div class="d-flex">
                <span>Opcao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fluxo.descricao">
              <div class="d-flex">
                <span>Fluxo</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (mensagem of mensagems; track trackId(mensagem)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/mensagem', mensagem.id, 'view']">{{ mensagem.id }}</a>
              </td>
              <td>{{ mensagem.texto }}</td>
              <td>{{ mensagem.opcao }}</td>
              <td>
                @if (mensagem.fluxo) {
                  <div>
                    <a [routerLink]="['/seguinte-mensagem', mensagem.fluxo.id, 'view']">{{ mensagem.fluxo.descricao }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/mensagem', mensagem.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">Visualizar</span>
                  </a>

                  <a [routerLink]="['/mensagem', mensagem.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(mensagem)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (mensagems && mensagems.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
