<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (mensagem(); as mensagemRef) {
      <div>
        <h2 data-cy="mensagemDetailsHeading"><span>Mensagem</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>Código</span></dt>
          <dd>
            <span>{{ mensagemRef.id }}</span>
          </dd>
          <dt><span>Texto</span></dt>
          <dd>
            <span>{{ mensagemRef.texto }}</span>
          </dd>
          <dt><span>Opcao</span></dt>
          <dd>
            <span>{{ mensagemRef.opcao }}</span>
          </dd>
          <dt><span>Fluxo</span></dt>
          <dd>
            @if (mensagem()!.fluxo) {
              <div>
                <a [routerLink]="['/seguinte-mensagem', mensagem()!.fluxo?.id, 'view']">{{ mensagemRef.fluxo?.descricao }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Voltar</span>
        </button>

        <button type="button" [routerLink]="['/mensagem', mensagemRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
        </button>
      </div>
    }
  </div>
</div>
