<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-interacao-heading" data-cy="InteracaoCreateUpdateHeading">Criar ou editar Interacao</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let dataHoraRef = editForm.get('dataHora')!;
        <div class="mb-3">
          <label class="form-label" for="field_dataHora">Data Hora</label>
          <div class="d-flex">
            <input
              id="field_dataHora"
              data-cy="dataHora"
              type="datetime-local"
              class="form-control"
              name="dataHora"
              formControlName="dataHora"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (dataHoraRef.invalid && (dataHoraRef.dirty || dataHoraRef.touched)) {
            <div>
              @if (editForm.get('dataHora')?.errors?.required) {
                <small class="form-text text-danger">O campo é obrigatório.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('dataHora')?.errors?.datetimelocal"
                >Este campo é do tipo data/hora.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_usuario">Usuario</label>
          <select
            class="form-control"
            id="field_usuario"
            data-cy="usuario"
            name="usuario"
            formControlName="usuario"
            [compareWith]="compareUsuario"
          >
            <option [ngValue]="null"></option>
            @for (usuarioOption of usuariosSharedCollection; track $index) {
              <option [ngValue]="usuarioOption">{{ usuarioOption.nome }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_mensagem">Mensagem</label>
          <select
            class="form-control"
            id="field_mensagem"
            data-cy="mensagem"
            name="mensagem"
            formControlName="mensagem"
            [compareWith]="compareMensagem"
          >
            <option [ngValue]="null"></option>
            @for (mensagemOption of mensagemsSharedCollection; track $index) {
              <option [ngValue]="mensagemOption">{{ mensagemOption.texto }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
