<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-mensagem-heading" data-cy="MensagemCreateUpdateHeading">Criar ou editar Mensagem</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let textoRef = editForm.get('texto')!;
        <div class="mb-3">
          <label class="form-label" for="field_texto">Texto</label>
          <input type="text" class="form-control" name="texto" id="field_texto" data-cy="texto" formControlName="texto" />
          @if (textoRef.invalid && (textoRef.dirty || textoRef.touched)) {
            <div>
              @if (editForm.get('texto')?.errors?.required) {
                <small class="form-text text-danger">O campo é obrigatório.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_opcao">Opcao</label>
          <input type="number" class="form-control" name="opcao" id="field_opcao" data-cy="opcao" formControlName="opcao" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_fluxo">Fluxo</label>
          <select
            class="form-control"
            id="field_fluxo"
            data-cy="fluxo"
            name="fluxo"
            formControlName="fluxo"
            [compareWith]="compareSeguinteMensagem"
          >
            <option [ngValue]="null"></option>
            @for (seguinteMensagemOption of seguinteMensagemsSharedCollection; track $index) {
              <option [ngValue]="seguinteMensagemOption">{{ seguinteMensagemOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
